<div class='row'>
    <div class='col-xs-12'>
        <div class="list-group">
        <div class="alert alert-success">
          <strong>Success!</strong> You've posted a message
        </div>

        [repeat messages,message]

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="msg-title">${message.title}</h5>
                    <small class="msg-date-count">by ${message.username}</small>
                </div>
                <p class="msg-message">${message.message}</p>
                <small class="msg-date">${message.formatdate}</small>
            </a>

            [endrepeat]
        </div>
    </div>
</div>
